# Database Connection (PostgreSQL / Supabase / Neon)
DATABASE_URL="postgresql://postgres:[TU_CONTRASEÑA]@[TU_HOST_SUPABASE]:5432/postgres?sslmode=require"

# NextAuth / JWT Session Configuration
NEXTAUTH_SECRET="cambia-este-secreto-en-produccion-min-32-caracteres"
NEXTAUTH_URL="http://localhost:3000"
